
/* ======= JEFF'S CSS RESET ======= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* ========== MY STYLES ========== */
html{
  scroll-behavior: smooth;
}

.intro{
  font-family: 'Signika Negative', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.project-wrapper{
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.intro{
  height:46rem;
  /* padding-top: 27rem; */
}

.text-my-own-color {
  color: #2e2e2e; 
}


.text-my-own-color:hover, .text-my-own-color:active {
  color: #58678b; 
}

.project-card{
  width: 40%;
  font-family: 'Signika Negative', sans-serif;
}

.myNav{
  height:4rem;
  font-family: 'Signika Negative', sans-serif;
}

.sm-card-text{
  padding: 0;
}

/* .project-card:hover{
  width: 45%;
  background-color: aqua;
} */

