
/* ======= JEFF'S CSS RESET ======= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* ========== MY STYLES ========== */
html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

a{
  color:#B4CA9D;
}

a:hover {
  text-decoration: none;
  color: rgb(112, 153, 124);
}

.intro{
  font-family: 'Signika Negative', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.project-wrapper{
  margin: 0;
}

.intro{
  height:100vh;
}

.hello{
  font-size: 6vh;
}

.right-nav{
  padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.text-my-own-color {
  color: #2e2e2e; 
}

.text-my-own-color:hover {
  color: #2e2e2e; 
}

.project-card{
  width: 90%;
  font-family: 'Signika Negative', sans-serif;
  transition: transform .2s;
  transition: box-shadow 0.2s ease-in-out;
  padding: 1rem;
  /* margin-top: 1.5rem; */
}

.card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}

.sm-card-text{
  padding: 0;
}

.section-heading{
  font-family: 'Signika Negative', sans-serif;
  color: #113D3C;
  text-align: center;
  padding-bottom: 1.5rem;
  grid-column: 1 / 2;
}

.myFooter{
  color:#B4CA9D; 
  background-color: #072827; 
  margin: 0; 
  border:0;
  padding: 0.5rem 1rem;
  font-family: 'Signika Negative', sans-serif;
}

.project-card:hover{
  transform: scale(1.01); 
  box-shadow: 0 4px 8px 0 rgba(17, 61, 60, 0.2), 0 6px 20px 0 rgba(17, 61, 60, 0.19);
  color:black;
}

.card-body:hover{
  color:black;
}

.about{
  font-family: 'Signika Negative', sans-serif;
}

.about-me{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  padding: 3rem;
  height: 100vh;
  /* padding-top: 7rem;
  padding-bottom: 9rem;
  */
} 

.joyce-img{
  margin: 3rem 2rem 2rem 2rem;
  border-radius: 50%;
}

.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#writing-li::before{
  content: '✍🏼';
  padding-right: 0.2rem;
}

#art-li::before{
  content: '🎨';
  padding-right: 0.2rem;
}

.about-link:hover{
  color: rgb(112, 153, 124);
}



